
.container {
  display: flex;
  flex-direction: row;
}

.formContainer {
  flex-grow: 1;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.mapContainer {
  flex-grow: 4;
}
